/** {
    outline: 1px solid red;
}*/


body{
  margin:0;
  background-color: #2B2D42;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgba(100,100,150,0.9);
  font-size: 25px;
  z-index: 1000;
}

nav ul {
/*  display: flex;
  flex-direction: column;*/
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

nav ul.opening {
  display: block;
  padding-top: 0em;
  height: 30px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

nav li { border-bottom: 1px solid #f6f4e2; }

nav li:last-child { border-bottom: none; }

nav a {
  color: #eee;
  display: block;
  padding: 13px 30px 10px 5px;
  text-decoration: none;
  background: rgba(100,100,150,0.9);
}


nav a:hover, nav a:focus {
  color: rgba(243, 196, 18, 1);
}

/* CSS MENU TOGGLE*/
.menu-toggle {
  position: fixed;
  padding: 0.8em;
  top: 0.25em;
  right: .5em;
  cursor: pointer;

}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}

.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open .hamburger::before { display: none; }

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}


/* CSS DESKTOP VIEW */

@media (min-width: 780px) {

.menu-toggle { display: none; }

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav li{
  border-bottom: none;
}

nav a{
  background: none;
  height: 10%;
}

nav a:hover,  nav a:focus {
  color: rgba(243, 196, 18, 1);
}
}

/***********************************************************
  OPAQUE NAVBAR SECTION
**********************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0);
    height: 50px;
    transition: background-color 0.5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: rgba(100,100,150,0.9);
    height: 55px;
    transition: background-color 0.5s ease 0s;
}

@media (max-width: 992px) {
  .opaque-navbar {
    transition: background-color .5s ease 0s;
}
}



.grid-area{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    padding: 50px 25px;
    text-align: center;
}

.heading{
  grid-area:heading;
    background:url(http://i.imgur.com/vf2CKfB.jpg) no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

.title{
    width: 100%;
    text-align: center;
    margin-top: 70px;
    font-size: 70px;
    text-shadow:1px 1px 1px #000;
}

blockquote{
  display:inline-block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  position: relative;
  /*Font*/
  font-family: Georgia, serif;
  line-height: 1.2;
  color: #eee;
  background-color: rgba(0,0,0,0.6);
  border-left: 10px solid #aaa;
  border-right: 2px solid #aaa;
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}
blockquote i{
    font-size: 15px;
    color: #aaa;
}
blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  /*Font*/
  font-size: 60px;
  font-weight: bold;
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

#about-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr;
  grid-template-areas:
  ". mypic about .";
}

.mypic{
  grid-area:mypic;
}
.profilepic{
    width: 300px;
    border:solid 2px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #232323;
    margin-top: 23px;
}

.about{
    grid-area:about;
    font-family: 'Lora', serif;
}

.mike{
  font-size: 40px;
}


#skills{
  grid-area:skills;
  background:url(https://i.imgur.com/RZi9R2S.jpg?1) no-repeat fixed;
  background-size: cover;
  text-align: center;
  padding:20px 0px 30px 0px;
}

#skills h1{
  color: white;
  text-shadow: 2px 2px 0px black;
  font-size: 40px;
}

#skills i{
  font-size: 100px;
  padding: 10px 10px;
  color:rgb(0,100,216);
  text-shadow: 2px 2px 3px #111;
}

#skills i:hover{
  color: rgb(243, 156, 18);
}

#portfolio-grid{
  grid-area:portfolio;
    display: grid;
    grid-template-areas:
    ". portfolio-headline ."
    "portfolio1 portfolio2 portfolio3"
    "portfolio4 portfolio5 portfolio6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:minmax(10px,auto);
    background-color: #EDF2F4;
    color: black;
}

.portfolio-headline{
  grid-area:portfolio-headline;
  color: black;
  font-size: 40px;
}

.portfolio1{
    grid-area: portfolio1;
}
.portfolio2{
    grid-area: portfolio2;
}
.portfolio3{
    grid-area: portfolio3;
}
.portfolio4{
    grid-area: portfolio4;
}
.portfolio5{
    grid-area: portfolio5;
}
.portfolio6{
    grid-area: portfolio6;
}


.portfolio-images{
  position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin:10px;
}

.portfolio-image{
    width: 100%;
    border:solid black 5px;
    box-shadow: 10px 10px 30px grey;
    border-radius: 20px;
}

.overlay{
  background-color: rgba(8,8,8,0.6);
  border-top: 0.2px solid black;
  border-radius: 0px 0px 20px 15px;
  color:#eee;
  position: absolute;
  font-size: 1vw;
  height: auto;
  line-height: 3vh;
  width: 100%;
  bottom:7.5px;
  left:5px;
}

.overlay-mobile{
  display: none;
  font-size: 3vw;
  line-height: 1.5;
  background-color: rgba(0,0,0,0.6);
  border-top: 0.2px solid black;
  border-radius: 0px 0px 20px 15px;
  color:#eee;
  position: absolute;
  margin:0 auto;
  height: 15%;
  width: 100%;
  bottom:8px;
  left: 5px;
}
.portfolio-image:hover{
  border: solid rgb(243, 156, 18) 5px;
}

#contact-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "social contact contact"
}

.social{
  grid-area:social;
}

.contact{
  grid-area:contact;
}



legend{
    font-size: 40px;
    font-weight: 500;
}

.social i{
    font-size: 80px;
    padding:8px;
    color:rgb(0,100,216);
}

.social i:hover{
  color: rgb(243, 156, 18);
}

input{
    height: 30px;
    width: 250px;
    text-align: center;
}
textarea{
    width: 80%;
    overflow: hidden;
}

label{
    font-size: 25px;
}

.submit{
-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid rgb(230,230,230);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 24px/37px "Advent Pro", Helvetica, sans-serif;
  color: rgb(230,230,230);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
}

.submit:hover{
  color: rgba(255,255,255,1);
  background: rgb(243, 156, 18);
  text-shadow: 1px 1px 2px grey;
}
.submit:focus{
  outline:0;
}

.copyright{
  grid-area:copyright;
  text-align: center;
  color: #ddd;
}

@media only screen and (max-width: 990px)  {
  .heading{
    padding:70px 10px;
    background-position: -230px 0px;
  }
    #about-grid{
      grid-template-columns: 1fr;
      grid-template-areas:
      "mypic"
      "about"
    }
    #portfolio-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "portfolio-headline portfolio-headline"
        "portfolio1 portfolio2"
        "portfolio3 portfolio4"
        "portfolio5 portfolio6"
        ;
    }
      .overlay{
        display: none;
      }
      .overlay-mobile{
        display: block;
      }

      #skills i{
        font-size: 60px;
      }
      .profilepic {
        margin: -30px 0 -50px 0;
        width: 40%;
        }
    .about {
        margin: -70px 0 -30px 0;
        }
    .social{
      margin: -10px 0px -60px 0;
    }
    #contact-grid{
      grid-template-columns: 1fr;
      grid-template-areas:
      "social"
      "contact";
    }
    }
