html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #2b2d42;
  color: white;
}

nav {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 25px;
  z-index: 10;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  ul.opening {
    display: block;
    padding-top: 0em;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
  }
  li {
    border-bottom: 1px solid #f6f4e2;
  }
  li:last-child {
    border-bottom: none;
  }
  a {
    color: #eee;
    display: block;
    padding: 10px 30px 10px 5px;
    text-decoration: none;
    background: rgba(100, 100, 150, 0.9);
  }
  a:hover,
  nav a:focus {
    color: rgba(243, 196, 18, 1);
  }
}

/* CSS MENU TOGGLE*/
.menu-toggle {
  position: fixed;
  padding: 0.8em;
  top: 0.25em;
  right: 0.5em;
  cursor: pointer;
}

//HAMBURGER START//
.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 2em;
  border-radius: 1px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}
.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}
.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.open .hamburger::before {
  display: none;
}
.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}
//HAMBURGER END//

//OPAQUE NAVBAR//
.solid-navbar {
  background: #2b2d42;
  opacity: 90%;
  border-bottom: 0.1px solid black;
}

.opaque-navbar {
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  transition: background-color 0.5s ease 0s;
}
.opaque-navbar.opaque {
  background-color: rgba(100, 100, 150, 0.9);
  height: 55px;
  transition: background-color 0.5s ease 0s;
}
//OPAQUE NAVBAR END//

.container {
  display: grid;
  grid-template-rows: 100vh auto;
}

.hero,
.about,
.portfolio,
.see-more-of-me,
.get-in-touch,
.footer {
  grid-column: 1/-1;
}

//HERO START//
.hero {
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,w_1693/v1589193910/Portfolio/jeremy-bishop-iyrJnPlkP68-unsplash.webp")
    no-repeat;
  background-attachment: fixed;
  background-position: -730px 0px;
  .title {
    width: 100%;
    height: 120px;
    text-align: center;
    margin: 1.3em 0px;
    font-size: 70px;
    text-shadow: 1px 1px 1px #000;
  }
  blockquote {
    display: inline-block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    position: relative;
    font-family: Georgia, serif;
    line-height: 1.2;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: 10px solid #aaa;
    border-right: 2px solid #aaa;
    box-shadow: 2px 2px 15px #ccc;
    i {
      font-size: 15px;
      color: #aaa;
    }
    &::before {
      content: "\201C"; /*Unicode for Left Double Quote*/
      font-size: 60px;
      font-weight: bold;
      position: absolute;
      left: 10px;
      top: 5px;
    }
  }
  .bounce {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px black;
  }

  .bounce i {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(-10px);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
//HERO END//

//ABOUT START//
#about {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  padding: 30px 0px;
}

.about-image {
  margin: auto;
  grid-column: 2;
  width: 250px;
  border: solid 2px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #232323;
}
.about-text {
  grid-column: 2;
}
//ABOUT END//

#skills {
  background: url(images/codepic.png) no-repeat fixed;
  background-size: cover;
  text-align: center;
  h1 {
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 40px;
    margin-bottom: 50px;
  }
  .skill-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .icon {
      font-size: 70px;
      margin: 0px 5px;
      color: rgb(0, 100, 216);
      text-shadow: 2px 2px 3px #111;
    }
    i:hover {
      color: rgb(243, 156, 18);
    }
  }
}

.icon:hover .caption {
  visibility: visible;
  text-shadow: 1px 1px 1px black;
  color: white;
}

.caption {
  visibility: hidden;
  font-size: 19px;
}
//SKILLS END//

//PORTFOLIO START//
#portfolio {
  padding: 15px;
  background: #f1f1f1;
  .portfolio-title {
    margin: 5px 0px 15px 0px;
    font-size: 40px;
    color: rgb(30, 25, 25);
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 15px;
    align-items: center;
    &:before,
    &:after {
      display: block;
      content: "";
      height: 7px;
      background: linear-gradient(to var(--direction, left), rgb(30, 25, 25), transparent);
    }
    &:after {
      --direction: right;
    }
  }

  $color_white: #fff;
  $color_purple: #2b2d42;
  $color_grey: #e2e2e2;
  $color_grey_dark: #a2a2a2;

  .portfolio-card {
    display: flex;
    flex-direction: column;
    color: black;
    margin: 2rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    &:hover {
      .photo {
        transform: scale(1.1) rotate(2deg);
      }
    }
    .meta {
      position: relative;
      z-index: 0;
      height: 200px;
    }
    .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      transition: transform 0.2s;
    }

    .portfolio-desc {
      padding: 1rem;
      background: $color_white;
      position: relative;
      z-index: 1;
      h1,
      h2 {
        font-family: Poppins, sans-serif;
      }
      h1 {
        line-height: 1;
        margin: 0;
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color_grey_dark;
        margin-top: 5px;
      }

      .view-site {
        text-align: center;
        text-decoration: none;
        color: #2b2d42;
        border: 2px solid $color_purple;
        border-radius: 2px;
        padding: 5px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 40%;
        &:hover {
          border: 2px solid rgb(100, 100, 150);
          color: rgb(100, 100, 150);
          text-decoration: underline;
        }
      }
      .view-code {
        @extend .view-site;
        right: 61%;
        left: 0;
      }
    }
    p {
      position: relative;
      &:first-of-type {
        margin-top: 1.25rem;
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          background: $color_purple;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px;
        }
      }
    }

    @media (min-width: 640px) {
      flex-direction: row;
      max-width: 90%;
      .meta {
        flex-basis: 40%;
        height: 300px;
      }
      .portfolio-desc {
        flex-basis: 65%;
        &:before {
          transform: skewX(-2deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1;
        }
      }
      &.alt {
        flex-direction: row-reverse;
        .portfolio-desc {
          &:before {
            left: inherit;
            right: -10px;
            transform: skew(2deg);
          }
          .view-site {
            right: 40%;
            left: 0;
            bottom: 0;
          }
          .view-code {
            right: 0;
            left: 61%;
          }
        }
      }
    }
  }
  .see-more-of-me {
    display: flex;
    justify-content: center;
  }
  .see-more {
    position: relative;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 20px 10px 5px 10px;
    padding: 10px;
    border: 1px solid white;
    grid-column: 1/-1;
    justify-self: center;
    box-shadow: 5px 5px 10px grey;
    text-decoration: none;
    color: #111;
    i {
      font-size: 50px;
    }
  }
}

//PORTFOLIO END//

//CONTACT START//
#get-in-touch {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(0.3fr, 5fr));
  legend {
    font-size: 40px;
    font-weight: 500;
  }
  .social i {
    font-size: 50px;
    padding: 15px;
    margin: 5px;
    color: rgb(0, 100, 216);
  }
  .social i:hover {
    color: rgb(243, 156, 18);
  }
  input {
    height: 30px;
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
  }
  textarea {
    width: 90%;
    margin-top: 0.8em;
    resize: none;
  }
  label {
    font-size: 25px;
  }
  .submit {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    border: 2px solid rgb(230, 230, 230);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font: normal 24px/37px "Advent Pro", Helvetica, sans-serif;
    color: rgb(230, 230, 230);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    &:hover {
      box-shadow: -1px 2px 2px black;
      transition: all 0.1s ease-in-out;
      transform: scale(1.1);
    }
    &:focus {
      outline: 0;
    }
  }
}
//CONTACT END//

.footer {
  margin-top: 20px;
  max-height: 100px;
}

@media (hover: none) {
  .hero {
    background-attachment: scroll;
  }
}

//MEDIA QUERIES START//

@media screen and (orientation: landscape) {
  .hero {
    .title {
      height: 150px;
      margin: 20px 0px;
    }
  }
}

// .title {
//   width: 100%;
//   height: 120px;
//   text-align: center;
//   margin: 1.3em 0px;
//   font-size: 70px;
//   text-shadow: 1px 1px 1px #000;
// }
// blockquote {
//   display: inline-block;
//   background: #fff;
//   padding: 15px 20px 15px 45px;
//   position: relative;
//   font-family: Georgia, serif;
//   line-height: 1.2;
//   color: #eee;
//   background-color: rgba(0, 0, 0, 0.8);
//   border-left: 10px solid #aaa;
//   border-right: 2px solid #aaa;
//   box-shadow: 2px 2px 15px #ccc;
//   i {
//     font-size: 15px;
//     color: #aaa;
//   }
//   &::before {
//     content: "\201C"; /*Unicode for Left Double Quote*/
//     font-size: 60px;
//     font-weight: bold;
//     position: absolute;
//     left: 10px;
//     top: 5px;
//   }

@media (min-width: 700px) {
  .title {
    padding-top: 60px;
  }
  .menu-toggle {
    display: none;
  }
  nav {
    ul {
      display: flex;
      justify-content: flex-end;
    }
    li {
      border-bottom: none;
    }
    a {
      background: none;
      height: 10%;
    }
    a:hover,
    nav a:focus {
      transition: transform 0.1s;
      transform: scale(1.1);
      color: white;
    }
  }
  .opaque-navbar {
    transition: background-color 0.5s ease 0s;
  }
  .hero {
    background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,w_2898/v1589193910/Portfolio/jeremy-bishop-iyrJnPlkP68-unsplash.webp"cover);
    background-position: -300px 0px;
  }
  .overlay {
    display: block;
  }
  .overlay-mobile {
    display: none;
  }
}

@media (min-width: 1400px) {
  .hero {
    background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,q_auto:best,w_2321/v1589193910/Portfolio/jeremy-bishop-iyrJnPlkP68-unsplash.webp"cover);
    background-position: 0px;
    background-size: 100vw;
  }
  #about {
    grid-template-columns: 1fr 5fr 10fr 1fr;
    align-items: center;
    padding: 30px 0px;
  }
  .about-image {
    grid-column: 2;
  }
  .about-text {
    grid-column: 3;
  }
  .overlay {
    height: 23%;
    font-size: 1vw;
    line-height: 2;
  }
  #skills {
    .skill-icons {
      padding: 0px 160px;
    }
  }
  .portfolio-card {
    max-width: 65%;
  }
}
//MEDIA QUERIES END//
